### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*

## SyncTeX files:
*.synctex
*.synctex(busy)
resume.synctex
resume.synctex(busy)

## Build artifacts:
*.pdf
*.xdv
*.fdb_latexmk

### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~

### Mac OS X ###
## Mac OS X metadata files:
*.DS_Store

